﻿body {
    color: #474c56;
    font-family: Arial;
    font-size: 14px;
}

.mw960 {
    margin: 0 auto;
    max-width: 960px;
}

.barraEsquerda {
    border-left: 4px solid #ee8324;
    padding-left: 15px;
}

.cFFF {
    color: #fff;
}

.subtitulo {
    font-family: 'Lato', sans-serif;
}

.pt40 {
    padding-top: 40px;
}

.fsi {
    font-style: italic;
}

h1, h2, h3, h4, h5, h6 {
    font-family: 'Lato', sans-serif;
    margin: 0;
}

#row0 {
    background-image: url(/Img/bgHeader.jpg);
    background-position: 0 0;
    padding: 20px 0;
}

    #row0 .row {
        font-family: 'Lato', sans-serif;
    }

    #row0 .col-md-4 {
        border-right: 4px solid #ead7bd;
        padding: 10px 0;
    }

    #row0 #linha1Header p {
        color: #666;
        font-size: 24px;
        margin: 10px 0 0 0;
    }

    #row0 #linha2Header {
        color: #999;
        font-size: 18px;
    }

        #row0 #linha2Header span {
            color: #4bb958;
        }

        #row0 #linha2Header a {
            color: #ee8324;
        }

#row1 {
    background-image: url(/Img/bgAbstrato630h.jpg);
    background-size: cover;
    background-position: 0 0;
}

    #row1 a {
        color: #FFFFFF;
    }

        #row1 a:hover {
            color: #ee8324;
        }

    #row1 #barraEsquerdaH1 {
        margin-bottom: 55px;
    }

    #row1 #logo {
        display: block;
        margin-bottom: 60px;
        max-width: 259px;
    }

        #row1 #logo img {
            display: block;
            width: 100%;
        }


    #row1 h1 {
        font-size: 46px;
        margin-bottom: 10px;
        max-width: 460px;
    }

    #row1 #row1Col1 #row1Subtitulo {
        font-size: 28px;
        margin: 0;
        padding: 0;
    }

    #row1 #row1Col1 #row1Subtitulo a {
        text-decoration:underline;
    }

    #row1 #row1Col1 p {
        font-size: 18px;
        margin-bottom: 20px;
        padding-left: 19px;
    }

    #row1 #formCtn {
        background: #eee;
        margin-bottom: 50px;
        position: relative;
    }

        #row1 #formCtn #chamada {
            background: #ee8324;
            color: #fff;
            font-family: 'Lato', sans-serif;
            font-size: 24px;
            margin: 0;
            padding: 40px 20px;
            text-align: center;
        }

        #row1 #formCtn #setaForm {
            background-image: url(/Img/setaForm.png);
            background-position: center top;
            background-repeat: no-repeat;
            height: 34px;
        }

        #row1 #formCtn #camposBotaoCtn {
            background-color: #eee;
            padding: 35px 20px;
        }

            #row1 #formCtn #camposBotaoCtn .textarea {
                background-color: #fff;
                height: 100px;
            }

            #row1 #formCtn #camposBotaoCtn p {
                font-size: 24px;
                height: 250px;
                text-align: center;
            }

#acabamentoForm {
    background-image: url(/Img/acabamentoForm.png);
    background-position: left top;
    background-size: contain;
    background-repeat: repeat-x;
    height: 11px;
    width: 100%;
    left: 0;
    position: absolute;
}

.form-control, .form-control:focus, .form-control:active, .form-control:active:focus {
    border: 0;
    border-radius: 0;
    font-family: 'BenchNine', sans-serif;
    font-size: 18px;
    height: 45px;
    outline: none;
    box-shadow: none;
}

.btn-default, .btn-default:hover, .btn-default:focus, .btn-default:active, .btn-default:active:focus {
    text-shadow: none;
    background: #ee8324;
    border: 0;
    border-radius: 0;
    box-shadow: none;
    color: #fff;
    height: 45px;
    line-height: 35px;
    outline: none;
}

#row1b {
    background-color: #e9eaec;
    padding: 30px 0 0;
}

    #row1b .col-xs-12 {
        background: url(/Img/bgMassage.jpg) no-repeat right top;
        background-size: contain;
        background-color: #000;
    }

#enderecoRow {
    color: #fff;
    font-size: 18px;
    padding: 25px 10px;
}

#row2 {
    background-color: #e9eaec;
    padding: 30px 0;
}

#row2Col1 {
    background: #fff;
    margin-bottom: 30px;
    text-align: center;
    padding-bottom: 50px;
}

    #row2Col1 h1 {
        font-size: 30px;
        font-weight: bold;
        margin: 0;
        padding: 50px 0 10px;
    }

    #row2Col1 .headerIntro {
        color: #474c56;
    }

    #row2Col1 .row {
        margin-left: 30px;
        margin-right: 30px;
    }

.headerIntro {
    font-size: 18px;
}

.divisor {
    background: #ee8324;
    height: 4px;
    margin: 20px auto 40px;
    width: 60px;
}

    .divisor.divisorB {
        background: #FFFFFF;
    }

#row2Col1 .fa-stack {
    font-size: 5.5vw;
}

    #row2Col1 .fa-stack span {
        color: #ee8324;
    }

        #row2Col1 .fa-stack span:first-child {
            color: #ededed;
        }

    #row2Col1 .fa-stack .fa-stack-1x {
        font-size: 0.7em;
    }

.beneficio {
    color: #474c56;
    font-family: 'Lato', sans-serif;
    font-size: 18px;
    font-weight: 600;
    margin-bottom: 10px;
}

#row2Col2 {
    /*background: #ee8324;*/
    background-image: url(/Img/bgmassagem686h.jpg);
    color: #fff;
    margin-bottom: 30px;
    text-align: center;
    height: 686px;
}

    #row2Col2 h1 {
        font-size: 30px;
        font-weight: bold;
        margin: 0;
        padding: 50px 0 10px;
    }

#ilustracaoTabletLink {
    cursor: pointer;
    display: block;
    margin: 0 auto;
    max-width: 637px;
    width: 100%;
}

#ilustracaoTablet {
    display: block;
    width: 100%;
}

#row2Col3 {
    background: #fff;
    margin-bottom: 30px;
    padding: 50px 30px;
}

    #row2Col3 h1 {
        font-size: 30px;
        font-weight: bold;
        margin-bottom: 40px;
        max-width: 250px;
    }

#aparelho {
    display: block;
    width: 100%;
    margin: 20px auto 0;
    max-width: 389px;
}

.lista {
    list-style: none;
    padding: 0;
    margin-bottom: -30px;
    margin-right: -15px;
    margin-left: -15px;
    overflow: hidden;
    text-align: justify;
}

    .lista li {
        float: left;
        margin-bottom: 20px;
        padding-left: 60px;
        padding-right: 15px;
        position: relative;
        width: 50%;
    }

.ordem {
    background: #ec1b42;
    color: #fff;
    font-size: 18px;
    height: 35px;
    line-height: 35px;
    text-align: center;
    width: 35px;
    border-radius: 50%;
    position: absolute;
    left: 15px;
}

.mb30 {
    margin-bottom: 30px;
}

.lista li span {
    line-height: 35px;
    font-size: 20px;
}

#row2Col4 {
    background: #ec1b42;
}

#bloco5 {
    background: #ec1b42;
    padding: 40px 30px;
}

    #bloco5 img {
        display: block;
        margin: 0 auto;
        max-width: 210px;
        width: 100%;
    }

#row3 {
    background-image: url(/Img/bgAbstrato630h.jpg);
    background-size: cover;
    background-position: 0 bottom;
    color: #fff;
    padding: 60px 0;
    text-align: center;
}

    #row3 h1 {
        font-size: 30px;
        margin-bottom: 10px;
    }

    #row3 .chamada {
        font-size: 22px;
        margin: 0;
        padding: 0;
    }

#enviarBtnFoot {
    margin: 0 auto;
    max-width: 340px;
}

#mapa {
    border: 1px solid #ddd;
    height: 450px;
    width: 100%;
}


@media only screen and (max-width:768px) {
    #row0 {
        text-align: center;
    }
    
    #row1 #row1Col1 #logo {
        margin: 0 auto 50px;
    }

    #row1 #row1Col1 {
        margin-bottom: 40px;
        text-align: center;
    }

        #row1 #row1Col1 #barraEsquerdaH1 {
            border: 0;
            padding: 0;
        }

            #row1 #row1Col1 #barraEsquerdaH1 h1 {
                max-width: none;
                padding: 0;
            }

        #row1 #row1Col1 p {
            max-width: none;
            padding: 0;
        }

    #row1 #formCtn #chamada {
        font-size: 26px;
        padding: 30px 20px;
    }

    #row2Col1 .fa-stack {
        font-size: 9.5vw;
    }

    .beneficio {
        font-size: 22px;
    }

    #row2Col1 .row p {
        font-size: 16px;
    }

    .barraEsquerda {
        border: 0;
        padding: 0;
    }

    #row2Col3 h1 {
        padding-bottom: 10px;
        margin-bottom: 0;
        max-width: none;
        text-align: center;
    }

    .headerIntro {
        text-align: center;
    }

    .xsMb20 {
        margin-bottom: 20px;
    }
}


@media only screen and (max-width:414px) {
    #row1 #barraEsquerdaH1 {
        margin-bottom: 45px;
    }

    #row1 h1 {
        font-size: 34px;
    }

    #row1 #row1Col1 #row1Subtitulo {
        font-size: 22px;
    }

    #row1 #row1Col1 p {
        font-size: 16px;
    }

    #row1 #row1Col1 {
        margin-bottom: 30px;
    }

    .headerIntro {
        font-size: 16px;
    }

    #row2Col1 .fa-stack {
        font-size: 12.5vw;
    }

    .beneficio {
        font-size: 18px;
    }

    #row2Col1 .row p {
        font-size: 14px;
    }

    #row2Col1 h1 {
        font-size: 28px;
    }

    #row2Col2 h1 {
        font-size: 28px;
    }

    .headerIntro {
        font-size: 14px;
    }

    .lista li {
        float: none;
        width: auto;
    }

    #row3 h1 {
        font-size: 28px;
    }

    #row3 .chamada {
        font-size: 20px;
    }
}
